################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assignments/a2/.vs
/assignments/a3/.vs
/.gitignore
/.gitignore
/.gitignore
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.exe
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.ilk
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.ilk
assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
/assignments/test/a3_submit_test/453-skeleton-A3/.vs
/assignments/test/a3_submit_test/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/.cmake/api/v1/reply
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/.ninja_log
/assignments/a4/.vs/453-skeleton-Assignment-4/453-skeleton-Assignment-4
/.gitignore
/assignments/a4/.vs
