################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assignments/a2/.vs
/assignments/a3/.vs
/.gitignore
/.gitignore
/.gitignore
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.exe
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.ilk
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.ilk
assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
/assignments/a3/453-skeleton-A3/453-skeleton-A3/out/build/x64-Debug/453-skeleton.pdb
